{% extends "index.html.jinja" %}

{% block breadcrumb %}
<div class="ui breadcrumb">
    <a class="section">Início</a>
    <div class="divider"> / </div>
    <div class="active section">Educação</div>
</div>
{% endblock breadcrumb %}

{% block tabs %}
<div class="ui top attached tabular menu">
    <a class="active item" data-tab="receita_despesa">Receita/Despesa</a>
    <a class="item" data-tab="mde">MDE</a>
    <a class="item" data-tab="fundeb">Fundeb/Remuneração</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="receita_despesa">
    {% include 'receita_despesa_educacao.html.jinja' %}
</div>
<div class="ui bottom attached tab segment" data-tab="mde">
    {% include 'mde.html.jinja' %}
</div>
<div class="ui bottom attached tab segment" data-tab="fundeb">
    {% include 'fundeb_remun.html.jinja' %}
</div>
{% endblock tabs %}