<div class="ui container">
            <div class="ui segments">
                <div class="ui blue segment">
                    <h4 class="ui sub header">Área Temática</h4>
                    <h2 class="ui header">
                        <i class="book icon"></i>
                        <div class="content">Educação</div>
                    </h2>
                </div>

                {% include 'receita_despesa_educacao.html' %}
                {% include 'mde.html' %}
                {% include 'fundeb_remun.html' %}

            </div>
        </div>