<div class="ui grey segment">
                    <div class="ui massive breadcrumb">
                        <div class="section">Educação</div>
                        <i class="right chevron icon divider"></i>
                        <div class="active section">Receitas e Despesas</div>
                    </div>

                    <div class="ui message">
                        <p>A receita engloba todas as transferências federais, estaduais e do Fundeb para a educação, outras receitas da educação e a parcela de 25% da arrecadação decorrente dos impostos.</p>
                        <p>A despesa engloba toda a função 12 - Educação.</p>
                    </div>

                    <img class="ui fluid image" src="{{figlist.evolucao_receita_despesa_educacao}}">

                    <table class="ui compact table">
                      <thead>
                        <tr>
                            <th class="left aligned" colspan="5"><h3 class="ui header">Receitas e Despesas da Educação</h3></th>
                        </tr>
                        <tr>
                            <th class="left aligned">Data-base</th>
                            <th class="right aligned">Arrecadado</th>
                            <th class="right aligned">Empenhado</th>
                            <th class="right aligned">Liquidado</th>
                            <th class="right aligned">Pago</th>
                      </tr></thead>
                      <tbody>
                        {% for i, r in dflist.receita_despesa_educacao.iterrows() %}
                            <tr>
                                <td class="left aligned">{{ r.data_base.strftime("%d/%m/%Y") }}</td>
                                <td class="right aligned">{{ r.arrecadado|format_money }}</td>
                                <td class="right aligned">{{ r.empenhado|format_money }}</td>
                                <td class="right aligned">{{ r.liquidado|format_money }}</td>
                                <td class="right aligned">{{ r.pago|format_money }}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>